<p id="notice"><%= notice %></p>

<p>
  <strong>Card number:</strong>
  <%= @card.card_number %>
</p>

<p>
  <strong>Month:</strong>
  <%= @card.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @card.year %>
</p>

<p>
  <strong>Cvc:</strong>
  <%= @card.cvc %>
</p>

<p>
  <strong>Status:</strong>
  <%= @card.status %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @card.brand %>
</p>

<p>
  <strong>Type:</strong>
  <%= @card.type %>
</p>

<p>
  <strong>Scheme:</strong>
  <%= @card.scheme %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @card.bank_name %>
</p>

<p>
  <strong>Bank city:</strong>
  <%= @card.bank_city %>
</p>

<p>
  <strong>Country name:</strong>
  <%= @card.country_name %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
