<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de Consulta">
    <meta name="author" content="Davi Nunes">

    <!--  <link rel="shortcut icon" href="assets/images/favicon.ico"> -->
    <%= stylesheet_link_tag    'login' %>

  
  </head>

  <body>
    <%= yield %>


    <script>
      var resizefunc = [];
    </script>
    <%= javascript_include_tag 'login'%>

   

    <% flash.each do |key, value| %>
    <script type="text/javascript">
      $.Notification.autoHideNotify('<%=(key=='alert') ? 'error' : 'success'%>', 'top right', '<%= value %>');
     </script>
  <% end %> 
  </body>
</html>
